// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #7c3f58;
$pink: #eb6b6f;
$brown: #757763;
$naranjo: #f9a875;
$beige-lighter: #fff6d3;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $beige-lighter;
$danger: $naranjo;
$primary: $purple;
$link: $pink;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-background-color: $beige-lighter;
$input-border-color: transparent;
$input-shadow: none;

// Import the rest of Bulma
@import "../../../node_modules/bulma/bulma.sass"